.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 166, 178);
    color: rgb(248, 250, 252);
}

.main {
    display: flex;
    /* border: 2px solid red; */
    margin: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.pic1 {
    /* border:  2px solid red; */
    /* margin-right: 3vw; */
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 1vw;
}

.text {
    flex: 1;
    margin: 1vw;
    color: rgb(154, 166, 178);
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

h1 {
    text-align: center;
}

.click {
    background-color: rgb(248, 250, 252);
    margin: 3vw;
    margin-top: 5vw;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    transition: .5s;
}
.click p {
    text-align: center;
    color: rgb(198, 209, 221);
}
.click:hover {
    background-color: rgb(235, 237, 240);
    transition: .5s;
    font-size: 98%;

}
.text2 {
    margin: 2vw;
}

.header2 {
    margin-top: 10vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 166, 178);
    color: rgb(248, 250, 252);
}

.picc {
    display: flex;
    justify-content: center;
    /* margin: 4vw; */
}

.picc img {
    /* border: 2px solid red; */
    height: 30vw;
    margin: 1vw;
}

.tp2 {
    text-align: center;
}
.tp3 {
    text-align: center;
}
.tp4 {
    text-align: center;
}


.p2 {
    justify-content: center;
    display: flex;
}